{{define "views/index"}}

<div class="container">
    <pre class="tt" id="debug"></pre>
</div>
<div  id="controlForm">
    <div class="container">
        {{template "views/index/preset" .}}
    </div>

    <div class="container">

        <div class="row">
            <div class="col-lg-4 mb-3">
                {{template "views/index/noise-gate" .}}
            </div>
            <div class="col-lg-4 mb-3">
                {{template "views/index/compressor" .}}
            </div>

            <div class="col-lg-4 mb-3">
                {{template "views/index/reverb" .}}
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4 mb-3">
                {{template "views/index/preamp" .}}
            </div>

            <div class="col-lg-4 mb-3">
                {{template "views/index/poweramp" .}}
            </div>
            <div class="col-lg-4 mb-3">
                {{template "views/index/cabinet" .}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 mb-3">
                {{template "views/index/filters" .}}
            </div>

            <div class="col-sm-9 mb-3">
                {{template "views/index/equalizer" .}}
            </div>
        </div>

        <br>

    </div>
</div>
{{end}}