{{define "views/index/cabinet"}}
<!--<div class="card">-->
<!--    <div class="card-header">-->
<!--        Загрузить импульс-->
<!--    </div>-->

<!--    <ul class="list-group list-group-flush">-->
<!--        <li class="list-group-item">-->
<!--            <input class="form-control" type="file" id="loadImpulseFile">-->
<!--        </li>-->

<!--        <li class="list-group-item">-->
<!--            <div class="form-floating">-->
<!--                <input type="text" class="form-control" id="loadImpulseName" placeholder="Название импульса">-->
<!--                <label for="loadImpulseName">Название импульса</label>-->
<!--            </div>-->
<!--        </li>-->

<!--        <li class="list-group-item">-->
<!--            <button class="btn btn-sm btn-primary">Загрузить</button>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->

<!--<br>-->

<div class="card">
    <div class="card-header">
        Cabinet
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">

            <div class="form-floating">
                <select class="form-select" id="cabinetType">
                    {{range $idx, $val := .DeviceImpulses }}
                    <option value="{{ $idx }}" {{ if $val.Selected }}selected{{end}}>{{ $val.Name }}</option>
                    {{end}}
                </select>
                <label for="cabinetType">Импульсы на устройстве</label>
            </div>
        </li>
    </ul>

    <div class="card-body">
        <div class="form-check form-switch">
            <input type="hidden" role="switch" value="0" name="cabinetEnabled">
            <input class="form-check-input" type="checkbox" role="switch" value="1"
                   {{if .Settings.ImpulseState}} checked {{end}}
                   id="cabinetEnabled"
                   name="cabinetEnabled"
            >
            <label class="form-check-label" for="cabinetEnabled">
                активно
            </label>
        </div>
    </div>
</div>
{{end}}