{{define "views/index/filters"}}
<div class="card">
    <div class="card-header">
        Фильтры
    </div>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <div class="row">
                <div class="col-sm-6">
                    <label for="highPassFilterValue" class="form-label">HighPassFilter</label>
                    <input type="range" class="form-range" id="highPassFilterValue" min="20" max="1000" value="{{.Settings.HighPassFilter.Value}}">
                </div>
                <div class="col-sm-6">
                    <label for="lowPassFilterValue" class="form-label">LowPassFilter</label>
                    <input type="range" class="form-range" id="lowPassFilterValue" min="1000" max="20000" value="{{.Settings.LowPassFilter.Value}}">
                </div>
            </div>
        </li>
    </ul>

    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-check form-switch">
                    <input type="hidden" role="switch" value="0" name="highPassFilterActive">
                    <input class="form-check-input" type="checkbox" role="switch" value="1"
                           {{if .Settings.HighPassFilter.Active}} checked {{end}}
                           id="highPassFilterActive"
                           name="highPassFilterActive"
                    >
                    <label class="form-check-label" for="highPassFilterActive">
                        HP Active
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-check form-switch">
                    <input type="hidden" role="switch" value="0" name="lowPassFilterActive">
                    <input class="form-check-input" type="checkbox" role="switch" value="1"
                           {{if .Settings.LowPassFilter.Active}} checked {{end}}
                           id="lowPassFilterActive"
                           name="lowPassFilterActive"
                    >
                    <label class="form-check-label" for="lowPassFilterActive">
                        LP Active
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
{{end}}